<span>{{ title }} app is running!</span>
<div *ngFor="let customer of customers">
    <h1>Client {{customer._id}}</h1>
    <table>
        <tr>
            <td><b>Family Name</b></td>
            <td>{{customer.familyName1}}</td>
        </tr>
        <tr>
            <td><b>Given Name</b></td>
            <td>{{customer.givenName}}</td>
        </tr>
        <tr>
            <td><b>Document Type</b></td>
            <td>{{customer.docType | uppercase}}</td>
        </tr>
        <tr>
            <td><b>Document Number</b></td>
            <td>{{customer.docNum}}</td>
        </tr>
        <tr>
            <td><b>Phone Number</b></td>
            <td>{{customer.phone}}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td><a href="mailto:{{customer.email}}">{{customer.email}}</a></td>
        </tr>
    </table>
    <h2>Products</h2>
    <table class="productsTable">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Numeration</th>
            <th>Sold at</th>
            <th>Brand Name</th>
            <th>Brand Address</th>
        </tr>
        <ng-container *ngFor="let product of products">
            <tr *ngIf="product.customerId == customer._id">
                <td>{{product._id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productTypeName}}</td>
                <td>{{product.numeracioTerminal}}</td>
                <td>{{product.soldAt}}</td>
                <td>{{product.brand.brandName}}</td>
                <td>{{product.brand.address}}</td>
            </tr>
        </ng-container>
    </table>
</div>